body {
    font-family:'Helvetica neue', Arial, 'sans serif';
    margin: 0;
    padding: 0;
    background-color: rgb(178, 191, 195);
}

header, footer {
    background-color: rgb(192, 173, 104);
    padding: 20px;
    color: #fff;
    text-align: center;
}

h1, h2, h3 {
    margin-top: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.concert {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(14, 13, 13, 0.1);
    padding: 20px;
    width: 40%;
    margin: 20px;
   
}

.concert h2 {
    color: #171616;
}

.concert .date {
    font-style: italic;
}

.concert .description {
    margin-bottom: 12px;
}

.concert .artists,
.concert .repertoire {
    margin-bottom: 12px;
}

.concert .artists h3,
.concert .repertoire h3 {
    margin-top: 0;
}

footer {
    text-align: center;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .concert {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1500px;
        margin: 0 auto;
    }
}